body {
	margin: 0px;
	background: url(../../img/appDesktopBg.jpg) no-repeat 50% 50%;
	background-size: 100% 100%;
	padding: 50px;
}

img, fieldset {
        border: 0;
}

.container {
	clear: both;
	position: relative;
}

.clearfix{
	overflow: auto;
}

.appDesktop .userApp .appBg{
	background: url(../../img/appIconBgYellow.png) no-repeat 50% 50%;
}

.appDesktop .userApp{
	width: 6%;
	float: left;
	margin-right: 2%;
	outline: none
}

.appDesktop .userApp:hover .appFormat{
	width: 110px;
	height: 110px;
}

.appDesktop .userApp:hover .appBg{
	background-size: 110px 110px;
}

.appDesktop .userApp:active .appFormat{
	width: 90px;
	height: 90px;
}

.appDesktop .userApp:active .appBg{
	background-size: 90px 90px;
}

.appDesktop .userApp .appName{
	text-align: center;
	color: white;
}

.appDesktop .appFormat{
	width: 100px;
	height: 100px;
}

.appStoreContainer{
	margin-top: 5%;
}

.appDesktop .appStoreContainer .appStoreList{
	overflow: auto;
	width: 90%;
	padding: 0px 5%;
	background-color: rgba(222,222,222,.1);
	position: relative;
}

.appDesktop .appStoreContainer .appStoreList .storeApp{
	overflow: auto;
	width: 28%;
	float: left;
	margin: 5% 5% 10% 0%;
	padding: 1% 0%;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
	background-color: white
}

.appDesktop .appStoreContainer .appStoreList .storeAppIcon{
	background: url(../../img/appIconBgBlue.png) no-repeat 50% 50%;
}

.appDesktop .appStoreContainer .storeApp .title{
	width: 50%;
	float: left;
	margin-left: 10px;
}

.appDesktop .appStoreContainer .storeApp .title h3{
	margin: 0;
	margin-left: 15px;
	font-size: 1.5em;
}

.appDesktop .appStoreContainer .storeApp .title .inBtn{
	margin-top: 15px;
}

.appDesktop .appStoreContainer .appStoreList .appFormat{
	float: none;
	float: left;
	margin: 0px 10px 10px 10px;
}

.appDesktop .appStoreContainer .appDesc{
	color: rgba(0, 0, 0, 0.5);
	float: left;
	margin-left: 10px;
}

.appDesktop .appStoreName{
	position: fixed;
	width: 95%;
	height: 8%;
	background-color: #009688;
	color: white;
	z-index: 1;
	box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.6);
	padding-left: 5%;
	margin: 0px;
	font-size: 2em;
	line-height: 200%;
}

md-dialog{
	min-height: 70%;
	min-width: 70%;
	top: -5%;
}

md-dialog md-dialog-content{
	padding: 0;
}